
#openAddListButton {
	background: #113044;
	color: white;
	height: 50px;
}


#submitAddListButton {

}

.list {
	width: 300px;
	background: white;
}

.content {
    padding: 0 1px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}